{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}
{% extends 'base.html.twig' %}

{% block title %}Nouvel Article{% endblock %}

{% block body %}
    <h1>Nouvel Article</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Publier</button>
    {{ form_end(form) }}
{% endblock %}
